* {
  box-sizing: border-box;
}

p {
  // width: 100%;
  // border: 2px solid #333;
  padding: 5px 10px;
  direction: rtl;
}

td {
  padding: 0.5em 1em;
  border: 2px solid #333;
  text-align: center;
}

#global-container {
  max-width: 227px;
  margin: 0 auto;
}

.display {
  border: 2px solid #333;
  height: 40px;
}

table,
p {
  // width: 100%;
  margin: 0 auto;
}
