@import url("https://fonts.googleapis.com/css2?family=Anton&family=Moon+Dance&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@500&display=swap");

* {
  box-sizing: border-box;
  font-family: "Moon Dance", cursive;
  font-weight: bold;
  font-size: 24px;
}

p {
  // width: 100%;
  // border: 2px solid #333;
  padding: 5px 10px;
  direction: rtl;
}

input {
  display: block;
  width: 95%;
  border: 3px solid #23d54a;
  border-radius: 4px;
  font-size: 24px;
  font-family: "Be Vietnam Pro", sans-serif;
  text-align: right;
}

td {
  // padding: 0.5em 1em;
  border: none;
  text-align: center;
}

button {
  background-color: #9affb0;
  box-shadow: 1px 3px 2px #b1c1b4;
  border: 2px solid #9affb0;
  border-radius: 4px;
  width: 50px;
  height: 50px;

  &:active {
    transform: translateY(3px);
    box-shadow: none;
  }
}

#global-container {
  max-width: 227px;
  margin: 0 auto;
}

.display {
  border: 2px solid #333;
  height: 40px;
}

input,
table,
p {
  // width: 100%;
  margin: 0 auto;
}

.mark {
  // font-size: 10px;

  &.whiten {
    background-color: #fff;
  }
}
